# dependencies
node_modules

# testing
coverage

# production builds
inner/build
outer/public
inner/cms/.next
# Applicant uploads (CVs) written by a locally running CMS — never commit.
inner/cms/applicant-files

# CMS generated types
inner/cms/payload-types.ts

# environment
.env
.env.local
.env.*.local

# local docker compose overrides
docker-compose.override.yml

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
inner/cms/.pnpm-store
# misc

.DS_Store
.vercel
*.psd
*code-workspace

# editor
.idea
.vscode
*.swp
*.swo
*~
.gstack/
